@font-face {
    font-family: "YouYuan";
    src: url("YouYuan.eot"); /* IE9 */
    src: url("YouYuan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("YouYuan.woff") format("woff"), /* chrome、firefox */
    url("YouYuan.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("YouYuan.svg#YouYuan") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


